<% if cocktail.photo? %>
 <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo %>');">
<% else %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= "https://unsplash.it/1000/800" %>);">
<% end %>


  <div class ="card-category"></div>
  <div class="card-description">
    <h2><%= cocktail.name %></h2>
    <p> Try It! </p>
  </div>
  <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
</div>

