<% if cocktail.photo? %>
  <% photo = cocktail.photo.url(:bright_face) %>
<% else %>
  <% photo = "https://unsplash.it/1000/800" %>
<% end %>



<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path photo %>);">
  <div class ="card-category"></div>
  <div class="card-description">
    <h2><%= cocktail.name %></h2>
  </div>
  <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
</div>

